body {
    text-align: center;
    font-family: Roboto;
    display: grid;
    place-items: center;
    background-color: rgb(228, 228, 228);

  }

  /* kek */

  :root {
      touch-action: manipulation;

    --letter-box-bg: #d8d8d8;
    --letter-box-border: #858585;
    --letter-box-font: #313131;

    --letter-box-green: #88d81f;
    --letter-box-yellow: #f7da37;
    --letter-box-dark: #818181;
  }
    
  
  h1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .guess-container {
    width: 82vw;
    display: grid;
    
    padding: 3vh 0 4vh 0;
    grid-template-rows: repeat(6, 1fr);
  }
  
  .letter-row {
    margin: 1vh 0 ;
    display: grid;
    grid-template-columns: repeat(5,1fr)
  }

  .letter-row > div {
    width: 15vw;
    height: 15vw;
    margin: 0rem 0.5rem;
    outline: 1px solid var(--letter-box-border);
    border-radius: 2px;
    background: var(--letter-box-bg);
    font-size: 8rem;
    font-weight: 500;
    text-align: center;
    color: var(--letter-box-font);
  }

  .inputs-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 60vh;
    width: 100vw;
  }

  .input-holder {
    height: 100%;
    width: 100%;
    opacity: 0;
  }

  .check-btn {
    opacity: 0;
  }


  /* error */

  .error-container {
    opacity: 0;
    outline: 2px solid red;
    border-radius: 3px;
    width: 90vw;
    padding: 2rem;
    font-size: 3rem;
    background-color: rgb(248, 104, 104);
    position: absolute;
    text-align: center;
    top: 5vh;
    z-index: 1000;
  }


  
  .correct-char {
    background: var(--letter-box-yellow) !important ;
  }

  
  .wrong-char {
    background: var(--letter-box-dark) !important ;
    opacity: .5;
  }

  .correct-char-and-pos {
    background: var(--letter-box-green) !important ;
  }

  .restart-btn {
    outline: 1px solid red;
    width: 90vw;
    height: 15vw;
    font-size: 5rem;
    margin-top: 5vh;
    display: none;

  }

  


  .pop-up {
    scale: 1;
    animation-duration: 400ms;
    animation-name: popup;
    transition: transform 400ms ease-in-out;
  }


  @keyframes popup {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.18);
    }

    100% {
        transform: scale(1);
    }
 } 


 /* keyboard */

 .keyboard-container {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: grid;
 }

 .keyboard-keys-container {
  display: grid;
  grid-template-columns: repeat(12,1fr) ;
  grid-row-gap: .25rem;
 }

 .keyboard-letter {
  display: inline;
  font-size: 3rem;
  background-color: var(--letter-box-bg);
  border: 1px solid var(--letter-box-dark);
  color: var(--letter-box-font);
  border-radius: 5px;
  font-weight: 600;
  padding: 40px 5px;
  margin: .35rem;
 }

 .keyboard-keys-container div:nth-child(25) {
  grid-column-start: 2;
 }

 .keyboard-control-backspace,
 .keyboard-control-enter {
  color: var(--letter-box-bg);
  background-color: var(--letter-box-font);
  border-radius: 15px;
  padding: 40px 5px;
  font-size: 3rem; 
 }

 .keyboard-keys-container div:last-child {
  grid-column: span 2;
 }

 .keyboard-keys-container div:hover {
  transform: scale(.95);
  transition: all 150ms ease-in;
 }

 .kb-dark {
  background-color: var(--letter-box-dark);
  opacity: .25;
 }

 .kb-yellow {
  background-color: var(--letter-box-yellow);
 }

 .kb-green {
  background-color: var(--letter-box-green) !important ;
 }

